<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie uzytkownika </title>
</head>
<body>
<form>
    <input type="text" name="name">Podaj imie
    <input type="text" name="surname">Podaj nazwisko
    <input type="email" name="email">Podaj emial
    <input type="number" name="PersonalNumber" prefix="+48">Podaj numer
    <input type="number" name="TaxNumber" prefix="+48">Podaj numer
    <select name="" id="pet-select">
        <option value="">Wybierz opcje- miasto</option>
        <option value="Kraków">Kraków</option>
        <option value="Oklusz">Oklusz</option>
        <option value="Warszawa">Warszawa</option>
        <option value="Katowice">Katowice</option>
        <option value="Gdańsk">Gdańsk</option>
        <option value="Gdynia">Gdynia</option>
    </select>
    <input type="text" name="city">Podaj misato
    <input type="text" name="street">Podaj ulice

    <input type="submit" value="Submit">

</form>


</body>
</html>